nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h2 {
    text-align: center;}
 #hero-msg h4 {
text-align: center;
 }

.button-box
{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: aquamarine
}
header{
    background-color: paleturquoise;
}
nav a:hover{
    background-color: black;

}
.home-title{
    background-color: black;
}


